<div class="collection-template collection-template-mansory translate-filter-pc">
  <div class="reverse-mb">
    {% section 'collection-header' %}
    
    <div class="container">
      {% include 'breadcrumb' %}
    </div>
  </div>
  
  
  <div class="container">
    <div class="halo-collection-content">
      <div class="row">        
        {% section 'sidebar-filter' %}
        {% section 'collection-template-mansory' %}
      </div>
      
      {% section 'recently-viewed-products' %}
    </div>   
  </div>
</div>