{% if settings.enable_multilang and multilang contains '|' %}
<span class="lang1">
  {{ multilang | split: '|' | first | strip }}
</span>
<span class="lang2">
  {{ multilang | split: '|' | last | strip }}
</span>
{% else %}
<span>
  {{ multilang | split: '|' | first }}
</span>
{% endif %}