{% if section.settings.dpl_lookbook_description or section.settings.dpl_gallery_lookbook %}
<div class="gallery_lookbook-product_detail">
    {% if section.settings.dpl_gallery_lookbook %}
    <div class="gallery_lookbook-box">
        <div class="row">
        {% for block in section.blocks %}
        
            {% if block.type == 'image' %}
            {%- assign product_main = all_products[block.settings.main_pr_look] -%}    
            
            {%- assign img_1 = block.settings.image_1 -%}
            {%- assign img_2 = block.settings.image_2 -%}
            {%- assign img_3 = block.settings.image_3 -%} 
            
            {% if img_1 != blank and img_2 != blank and img_3 != blank %}
            {%- assign col_grid = 'col-6 col-sm-6 col-md-4' -%}
            {% else %}
            {%- assign col_grid = 'col' -%}
            {% endif %}
            
            {% if section.settings.style_lookbook_gallery == 'different_product' %}
            
            {% if product.handle == product_main.handle %}
            {% include 'gallery_lookbook-item' %}   
            {% endif %}
                       
            {% else %}
                {% if forloop.first == true %}
                {% include 'gallery_lookbook-item' %}
                {% endif %}
            {% endif %}
            {% endif %}
        
        {% endfor %}
        </div>
    </div>
    {% endif %}
    
    {% if section.settings.dpl_lookbook_description %}

    {% if section.settings.style_lookbook_description == 'all_product' %}
    {% if section.settings.quote_title != blank or section.settings.quote_title_2 != blank or section.settings.quote_des != blank or section.settings.quote_des_2 != blank %}
    <div class="quote-detail rte">
        {% if section.settings.quote_title != blank %}
        <h4>
            {% include 'multilang' with section.settings.quote_title %}
        </h4>
        {% endif %}

        {% if section.settings.quote_des != blank %}
        <blockquote>
            {% include 'multilang' with section.settings.quote_des %}
        </blockquote>
        {% endif %}

        {% if section.settings.quote_title_2 != blank %}
        <h4>
            {% include 'multilang' with section.settings.quote_title_2 %}
        </h4>
        {% endif %}

        {% if section.settings.quote_des_2 != blank %}
        {% if settings.enable_multilang %}
        <div class="lang1">
            {{ section.settings.quote_des_2 | split: '|' | first | strip }}
        </div>
        <div class="lang2">
            {{ section.settings.quote_des_2  | split: '|' | last | strip }}
        </div>
        {% else %}
        <div>
            {{ section.settings.quote_des_2  | split: '|' | first }}
        </div>
        {% endif %}
        {% endif %}
    </div>
    {% endif %}

    {% elsif section.settings.style_lookbook_description == 'different_product' %}
    {% if product.metafields.c_f['Lookbook Description'] %}
    <div class="quote-detail rte">
        {{ product.metafields.c_f['Lookbook Description'] }}
    </div>
    {% endif %}

    {% endif %}
    {% endif %}
</div>
{% endif %}