<div class="product-template product-template-gallery">
    <div class="container">
        {% if collection %}
        <div class="next_prev-groups">
            {% include 'breadcrumb' %}
            {% include 'next-prev-product' %} 	
        </div>
        
        {% else %}
        {% include 'breadcrumb' %}
        {% endif %}
        
        <div class="halo-product-content">
            <div class="row pro-page">
                {% section 'product-template-gallery' %}
            </div>
        
            {% section 'recently-viewed-products' %}
        </div>   
    </div>
</div>