{% assign number_of_related_products_to_show = section.settings.number_of_related_products | plus:1 %}
 
{% assign current_product = product %}
{% assign current_product_tags = product.tags %}
{% assign found_first_match = false %}
{% assign found_second_match = false %}
{% assign first_related_product = true %}
 
{% assign product_count = 1 %}

{% paginate collections.all.products by 1000 %}
{% for product in collections.all.products %}
  {% unless product.handle == current_product.handle %}
    {% for tag in product.tags %}
      {% if current_product_tags contains tag and tag != 'Made in USA' %}
        {% if found_first_match == false %}
          {% assign found_first_match = true %}
          {% assign first_match = tag %}
        {% elsif found_second_match == false %}
          {% assign found_second_match = true %}
          {% assign second_match = tag %}
        {% endif %}
      {% endif %}
    {% endfor %}
 
    {% if found_first_match == true %}
      {% if first_related_product == true %}
        {% assign first_related_product = false %}

        <section class="related-products">
          {% if section.settings.related_products_title != '' %}
            {% if settings.enable_multilang %}
            <h2 class="lang1">{{ section.settings.related_products_title | split: '|' | first }}</h2>
            <h2 class="lang2">{{ section.settings.related_products_title | split: '|' | last }}</h2>
            {% else %}
            <h2>{{ section.settings.related_products_title | split: '|' | first }}</h2>
            {% endif %}
          {% endif %}

        <div class="products-grid row owl-carousel">
 
      {% endif %}
      
      {% if product_count < number_of_related_products_to_show %}    
        {% if product.tags contains first_match or product.tags contains second_match %}          
          <div class="{% if settings.product_image_border %}grid-item-border{% endif %}  grid-item col-xs-6 col-sm-4 {% if product_grid == 3 %}col-md-3{% endif %} col-lg-3">
          {% include 'product-grid-item' with collection.handle %}
          </div>
          {% assign product_count = product_count | plus:1 %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endunless %}
{% endfor %}
{% if first_related_product == false %} </div> {% endif %}
{% endpaginate %}
</section>
<script>
  jQuery(document).ready(function() {
    jQuery(".related-products .products-grid").owlCarousel({   
      navigation: true,
      items : 4,
 	  itemsDesktop : [1200,3],
      itemsTablet: [767,3],
      itemsTabletSmall: [721,2],
      itemsMobile: [360, 2]
    });
  });
</script>