<div class="share_toolbox">  
  {% if section.settings.share_text != blank %}
  	{% include 'multilang' with section.settings.share_text %}
  {% endif %}
  <!----- www.addthis.com/dashboard ----->
  <div class="addthis_inline_share_toolbox"></div>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-595b0ea2fb9c5869"></script>
</div>