<div class="list-categories list-categories-03">
  <div class="row">
    {% if section.settings.style_categories == 'style_show_all' %}
    {% for collection in collections %}
    {% if collection.handle != 'frontpage' and collection.all_products_count > 0 %}
    {% include 'list-collection-item-3' %}
    {% endif %}
    {% endfor %}

    {% else %}

    {% for block in section.blocks %}
    {% assign collection = collections[block.settings.collection] %}
    {% include 'list-collection-item-3' %}
    {% endfor %}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "List Collections 04",
    "settings": [	   
	   {
        "type": "select",
        "id": "list_collection_results_per_row",
        "label": "Products per row",
        "default": "3",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
	  {
        "type": "radio",
        "id": "style_categories",
        "label": "Show all \/ Only a few categories",
        "options": [
          {
            "value": "style_show_all",
            "label": "Show all"
          },
          {
            "value": "style_little",
            "label": "Only a few categories"
          }
        ]
      }
	  
	],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
		  {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
