<div class="lookbook-page">
  <div class="container">
    {% include 'breadcrumb' %}

    <header class="page-header">
      <h2>
        {% include 'multilang' with page.title %}
      </h2>  
    </header>

    <div class="wrapper-lookbook">
      {% section 'lookbook'%}
    </div>
  </div>
</div>
