<div class="page-tpl">
  {% section 'portfolio-1-section'%}
</div>
{{ '//cdn.polyfill.io/v2/polyfill.min.js' | script_tag }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.1/shuffle.min.js" type="text/javascript"></script>
{% include 'portfolio-script' %}
